.diffchange {
   background-color: #ccc;
   font-weight: bold;
}

.nobreak {
   white-space: nowrap;
}

.title,
.user {
   /*
   overflow: hidden;
   text-overflow: ellipsis;
   max-width: 150px;
   */
   white-space: nowrap;
}

.comment {
}

.errorlog td {
   white-space: nowrap;
}
