.chart_title {
    text-align: center;
}

#top_nav a {
    background-color: #99d8c9;
    padding: 5px 10px;
    text-decoration:none;
    color: #000;
    border: 1px solid #2ca25f;
}

#top_nav a:hover {
    background-color: #e5f5f9;
    cursor:pointer;
}

#add_graph {
    vertical-align: top;
    margin: 10px;
    width:40%;
    display:inline-block;
}
#add_graph fieldset {
    padding-top:0;
}
#add_graph .form_field {
    margin: 6px;
}
#add_graph .form_field label {
    margin-right: 5px;
}
#rolling_log {
    vertical-align: top;
    display: inline-block;
    width:50%;
}
#rolling_log .log_area {
    font-size: 12px;
}
.chart {
    display: inline-block;
}
