style
  include dashboard.css

h1 Wikiedit Monitor Dashboard
nav#top_nav
  a(href="/?errorlog=1") Error Log
div#main_graph_area
  div#active_articles
  div#active_users
  div#active_action_types
  div#active_comments
  div#socket_graph
  div#edit_graph
  div#error_graph

script
   include dashboard.js
