style
  include dashboard.css

h1 Wikiedit Monitor Dashboard
nav#top_nav
  a(href="/?errorlog=1") Error Log
div#main_graph_area
  div#active_articles.chart
  div#active_users.chart
  div#active_action_types.chart
  div#active_comments.chart
  div#socket_graph
  div#edit_graph
  div#error_graph

script
   include dashboard.js
