h1 Error Log
table(id='errorlog')
  thead
    tr
      th  type
      th  timestamp
      th  Title
      th  User
      th  Comment

  tfoot
    tr
      th(class='typeFooter')  type
      th(class='timestampFooter')  timestamp
      th(class='titleFooter')  Title
      th(class='userFooter')  User
      th(class='commentFooter')  Comment

script
   include errorlog.js
