doctype html
html(lang="en")
  head
    title= "Wiki Edit Monitor Query Interface"
    link(type='text/css',rel='stylesheet',href='/css/all.css')
    link(type='text/css',rel='stylesheet',href='//cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css')
    script(src='//code.jquery.com/jquery-1.12.0.min.js')
    script(src='//cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/dimple/2.2.0/dimple.latest.js')
  body!= contents
